.bg-inicio{
  background-image: url(./img/coffee.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.bg-404{
  background-image: url(./img/error-404.jpg);
  overflow: visible;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}